<div class="custom-header">
  <div class="header-content">
    <div class="header-left">
      @if (config().showBackButton) {
        <ion-button 
          fill="clear" 
          class="back-button ion-back-button"
          [routerLink]="['/categories']"
          routerDirection="back"
        >
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          <span>Mis Tareas</span>
        </ion-button>
      }
    </div>
    
    <div class="header-title">
      {{ config().title }}
    </div>
  </div>
</div>