.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 32px;
  margin: 10px 0;
  position: relative;
}

.header-left {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  margin-left: -15px;
}

.header-title {
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 45%;
  text-align: center;
}

.back-button {
  --padding-start: 8px;
  --padding-end: 8px;
  display: flex;
  align-items: center;
  
  ion-icon {
    margin-right: 4px;
  }
  
  span {
    white-space: normal;
    max-width: 50px;
    line-height: 1.2;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .header-title {
    font-size: 1rem;
  }
}